@import '../../assets/_variables.scss'; 

.games {

    p {
        margin: 0;
    }
    
    &__sports {
        background-color: $light-dark-green;
        color: white;
        p {
            font-size: .75rem;
        }
    };   

    &__champ {
        background-color: $green;
        color: white;
        p {
            font-size: .75rem;
        }
    };  

    &__title {
        background-color: #fff;
        color:black;
    }
}